################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/nfc test app/.vs
/nfc test app/bin/Debug
/nfc test app/obj
